.leg-des {
    padding: .1rem .5rem;
    font-weight: 400;
    color: rgba(10,9,9,.78);
    margin-bottom: 1rem;
    font-size: 23px;
    border: 1px solid #2e2f3e;
    border-radius: 2px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
@media only screen and (max-width: 800px){
    .recommended fieldset a {
        font-size: 19px;
        text-align: left!important;
    }
}
.recommended fieldset a {
    color: #2e2f3e;
    font-size: 25px;
}